body {
  font-family: "Josefin Sans", sans-serif;
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

h1 {
  color: #111d5e;
  font-size: 50px;
  padding: 20px;
  position: relative;
}

h2 {
  color: #1b1d45;
  font-size: 80px;
  font-weight: bold;
  margin: 0;
}
li {
  list-style: none;
  position: relative;
  right: 40px;
}

#date {
  font-size: 16px;
}

.highLow {
  font-size: 30px;
  text-align: center;
  position: relative;
  right: 70px;
}
.currentTemp {
  border: 5px solid #111d5e;
  border-radius: 90px;
  max-width: 250px;
  margin-bottom: 20px;
  text-align: center;
}

#mainIcon {
  display: block;
  position: relative;
  left: 65px;
  padding: 0;
  width: 90px;
}

#hourlyIcon {
  display: block;
  position: relative;
  left: 30px;
  padding: 0;
  width: 90px;
}

.degrees {
  font-size: 80px;
  padding: 0;
  color: #1b1d45;
}
.temperature {
  font-size: 25px;
}
.active {
  color: #111d5e;
}
:hover .active {
  color: #111d5e;
  text-decoration: none;
  cursor: default;
}

.inactive {
  color: #111d5e;
  font-size: 15px;
}
:hover .inactive {
  color: #111d5e;
  text-decoration: none;
  cursor: default;
}

i {
  text-align: center;
  font-size: 30px;
}

.weatherInfo,
.threeHourForecast {
  position: relative;
  bottom: 70px;
}

h5 {
  color: #1b1d45;
  font-weight: bolder;
  font-size: 23px;
}

.info {
  font-size: 20px;
  list-style: none;
  position: relative;
  right: 40px;
}

#feelsLike,
#humidity,
#windSpeed {
  font-size: 20px;
}
.hourly {
  position: relative;
  left: 210px;
  bottom: 70px;
  font-size: 25px;
}
#hourlyForecast {
  padding: 0;
  font-size: 20px;
  border: 5px solid #111d5e;
  border-radius: 20px;
  text-align: center;
  max-width: 50%;
  position: relative;
  left: 210px;
  bottom: 70px;
}
.card-body {
  text-align: center;
  margin: 0;
  padding: 5px;
}
.card-title {
  margin: 0;
}

.gitSite {
  margin-top: 10px;
}
